.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #e2e2e2;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(24, 0, 88);
    padding: 10px;
    box-shadow: -1px 10px 20px rgb(181, 181, 181);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.title-bar {
    display: flex;
    width:95%;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.nav-link {
    font-size: calc(15px + 1vmin);
    text-decoration: none;
    margin: 30px;
}

.nav-link:hover {
    color: red;
}

h1 {
    margin: 20px;
}

.avatar {
    width: 'auto';
}

.empty-div {
    width: 4%;
}

.prof-stuff {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#basic-button {
    color: rgb(24, 0, 88)
}